<%= form_with(model: @message, url: create_message_path) do |form| %>
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>

  <div class="form-group">
    <%= form.text_field :name, class: 'form-kor-control mb-3', placeholder: 'Your Name' %>
  </div>

  <div class="form-group">
    <%= form.email_field :email, class: 'form-kor-control mb-3', placeholder: 'Your Email' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, class: 'form-kor-control', placeholder: 'Drop Us a Line' %>
  </div>

  <div class="actions">
    <%= form.submit "Send", class: 'btn btn-kor' %>
  </div>

<% end %>