<div id="about" class="module bg-korprimary">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-12">
          <h1 class="my-5">Our Team</h1>
        </div>
        <div class="col-6">
          <h2>Julie Williams</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.</p>
        </div>
        <div class="col-6">
          <%= image_tag ("kor-team1.jpg"), class: 'img-team'%>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h2>Jerald Smith</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.</p>
        </div>
        <div class="col-6">
          <%= image_tag ("kor-team2.jpg"), class: 'img-team'%>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h2>Powder</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.</p>
        </div>
        <div class="col-6">
          <%= image_tag ("kor-team3.jpg"), class: 'img-team'%>
        </div>
      </div>

      <div class="col-12">
        <h2 class="my-3">Who we roll with</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua.</p>
      </div>
      <div class="card-group container">
        <div class="card">
          <%= image_tag ("truck-driver.jpg"), class: 'card-img-top'%>
          <div class="card-body">
            <h5 class="card-title">Drivers</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag ("broker.jpg"), class: 'card-img-top'%>
          <div class="card-body">
            <h5 class="card-title">Brokers</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag ("fleet-owner.jpg"), class: 'card-img-top'%>
          <div class="card-body">
            <h5 class="card-title">Fleet Owners</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag ("fleet-owner2.jpg"), class: 'card-img-top'%>
          <div class="card-body">
            <h5 class="card-title">Ops Professionals</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>