<div id="about" class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="my-5">The Team</h1>
    </div>

    <div class="col-sm-12">
      <div class="row mb-3">
        <div class="col-md-4 col-sm-12">
          <h2>Julie Williams</h2>
          <%= image_tag ("kor-team1.jpg"), class: 'img-team'%>
        </div>
        <div class="col-md-8 col-sm-12">
          <p>Julie has worked as an accounting professional in the trucking industry for over 30 years.
            After years of working in corporate fleets, I founded Keep On Rolling to provide higher quality
            customer service and financial consulting to drivers. I have a deep respect for the work that
            drivers do and I am an expert in resolving the financial issues they typically face in their careers.
            If you like dealing with straight talkers who won't back down, back slide, or let you back
            your bank account into a corner, then I'll be your huckleberry.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row mb-3">
        <div class="col-md-4 col-sm-12">
          <h2>Polar Bear</h2>
          <%= image_tag ("kor-team3.jpg"), class: 'img-team'%>
        </div>
        <div class="col-md-8 col-sm-12">
          <p>Polar Bear is Keep On Rolling's Chief Mascot and Director of Workplace Happiness. He aspires to be a CEO
            but chasing after tennis balls and squirrels doesn't pay the bills. </p>
          <p>When he's not working you can find him taking naps at Julie's feet.</p>
        </div>
      </div>
    </div>

    <div class="col-12">
      <h2 class="my-3">Who we roll with</h2>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
      <!--et dolore magna aliqua.</p>-->
    </div>
    <div class="card-group container">
      <div class="card">
        <%= image_tag ("truck-driver.jpg"), class: 'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Drivers</h5>
          <p class="card-text">My company assists Drivers at any stage of their career to maintain their taxes,
            financial accounts, and business stability. Not only do we provide top-tier tax services at a fair rate,
            we also "edjimacate" drivers on how to become more financially literate. I am an expert in working with
            company drivers, hot-shot runners, and owner-operators. During tax season I can assist you in getting
            the maximum reductions so you receive your best return. Throughout the year I can make it easier for
            you to main the accounts that matter most to you--your personal account and accounts receivable.
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag ("broker.jpg"), class: 'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Brokers</h5>
          <p class="card-text">I provide tax and bookkeeping services for independent Brokers. Whether you're just
            starting out on the journey to financial independence by owning a business, or you're a veteran Broker
            looking for a higher quality of service for yourself, I can help you maximize deductions for your
            business expenses, maintain your payment schedules for self-employment and income taxes, and help you
            with financial planning for any business expansion.
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag ("fleet-owner.jpg"), class: 'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Fleet Owners</h5>
          <p class="card-text">Over the years I've worked with several successful, hardworking drivers who saw
            Trucking as both a lifestyle and a way to secure  wealth for their families. In the past 30 years
            I have assisted over 15 drivers to expand their trucking business from one truck to multi-million
            dollar fleets by utilizing sing my skills as a tax professional and financial planner to guide
            trucking entrepreneurs through the maze of business planning and ownership. Work with me if you're
            looking for someone who can take the stress of dealing with corporate taxes, authority permits and
            accounting off your plate. Focus on running your company's trucks, not its numbers.</p>
        </div>
      </div>

      <div class="card">
        <%= image_tag ("fleet-owner2.jpg"), class: 'card-img-top'%>
        <div class="card-body">
          <h5 class="card-title">Ops Professionals</h5>
          <p class="card-text">Operations Professionals are as important to the Trucking Industry as its drivers.
            Whether a contractor or employed professional, I am happy to provide tax, bookkeeping, and financial
            planning services to industry professionals who are looking for low-stress, fair-rate accounting
            services provided by a living-breathing professional, not a computer. Not only can I help you figure
            out how to maximize your return, I can also help you to keep your financial records healthy.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>