<div class="hero-container">
  <!-- Page Header-->
  <div class="container">
    <div class="row hero-text">
      <div class="col-md-10">
        <hr class="hero-hr">
        <p class="hero-copy text-left strong m-b-30">You know you need to do your taxes, but you're too busy.<br>
          We get--we're tax professionals. Let us help you...</p>
        <hr class="hero-hr">
      </div>
      <div class="col-md-10 text-left">
        <h1 class="hero-header">KEEP<br>ON<br>ROLLING</h1>
        <h2 class="m-b-15">Tax Services & Bookkeeping</h2>
      </div>
      <div class="col-md-10 text-left">
        <p><%= link_to 'Get your taxes done by someone responsible', ("#about"), class: 'btn btn-kor' %></p>
        <p><%= link_to 'Get Edjimacated for the 2018 Tax Season', ("#news"), class: 'btn btn-kor' %></p>
      </div>
    </div>
  </div>
</div>

<main role="main">
  <div class="container scroll-section" id="about">
    <div class="section my-5">
      <h1 class="section-header">We make taxes simple for<br> Truckers & Logistics Professionals.</h1>
      <p>Part of being road legal is staying on top of your taxes. Based in Dallas, we've offered tax services and bookkeeping to
        Drivers, Brokers, Fleet Owners, and Logistics professionals for over 20 years.</p>
      <p>They all trust us to keep their accounts balanced while they're keeping freight moving.</p>
      <p>And we even use our knowledge to Edjimacate drivers on how to win during tax season.</p>
      <p><a class="btn btn-kor" href="#">That's what I need!</a></p>
      <p><a class=" btn btn-kor" href="#">Edjimacate me.</a></p>
    </div>
  </div>

  <div id="feature1" class="module bg-korprimary">
    <%= render 'feature1' %>
  </div>

  <div id="feature2" class="module bg-korprimary">
    <%= render 'feature2' %>
  </div>

  <div id="feature3" class="module bg-korprimary">
    <%= render 'feature3' %>
  </div>

  <div id="team" class="module bg-korprimary">
    <%= render 'team' %>
  </div>

  <div class="container">
    <hr class="kor-hr my-5">
  </div>


  <div id="reg" class="module bg-korprimary scroll-section">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h2 class="text-left mt-5">Need accountants who
            can sort out your mess and keep your books in line?</h2>
          <h5 class="text-left mb-2">Fill out this form to find out how we can keep you rolling:</h5>
          <%= render :partial => 'registrations/registration_form' %>
        </div>
        <div class="col-5">
          <%= image_tag ("kor2.jpg"), class: 'img-fluid'%>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="module bg-korsecondary scroll-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="col">
              <h1 class="text-left mt-5">Contact Us</h1>
            </div>
            <div class="col mb-5">
              <%= render :partial => 'messages/contact_form' %>
            </div>
        </div>
      </div>
    </div>
  </div>

</main><!-- /.container -->