<div class="card">
  <div class="card-body">
    <h2 class="card-title">Create New Post</h2>
    <%= form_for [:admin, @post] do |form| %>
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :category %>
        <%= form.collection_select(:category_id, Category.all, :id, :name,
                                   {
                                       selected: @post.category_id,
                                       include_blank: 'Select Category'
                                   },
                                   class: 'form-control',
                                   )
        %>
      </div>
      <div class="form-group">
        <%= form.label :author %>
        <%= form.collection_select(:user_id, User.all, :id, :name,
                                   {
                                       selected: @post.user_id,
                                       include_blank: 'Select Author'
                                   },
                                   class: 'form-control',
                                   )
        %>
      </div>

      <div class="form-group">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>
      <br>

      <div class="form-group">
        <%= form.label :tags %>
        <%= form.text_field :tags, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, rows: 15, class: 'form-control' %>
      </div>
      <br>
      <%= form.submit "Submit", class: 'btn btn-primary' %>
      <%= link_to "Cancel", admin_categories_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>