<div class="post pb-5">
  <% if @posts.exists? %>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post, class: 'blog-link' %></h3>
      <small>Posted by <%= post.user.name %> on <%= post.created_at %></small>
      <%= image_tag post.image, class:'img-blog pb-5' %>
      <div class="post-content">
        <p><%= sanitize post.body.truncate(200, omission: '...Read More') %></p>
        <a href="#" class="btn btn-kor btn-block">Read More</a>
      </div>
    <% end %>
  <% else %>
    <p>There are no posts for this yet!</p>
  <% end %>
</div>